<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>wszystkie ksiazki w kolekcji</title>
</head>
<body><h1> ksiazki :</h1>
<form th:action="@{/editbook}" method="get">
    <br><button>edytuj ksiazke</button>
</form>
<ul th:each ="book:${books}">
    <li th:text="${book.id + ': ' +book.title + ': ' + book.author}"></li>
</ul>
</body>
</html>

